*{
	margin: 0px;
	padding: 0px;
}
body {
	margin: auto;
	background: #c2c1c1;
	width: 1200px;
	font-size: 16px;
	font-family: tahoma;
}

main{
	background: pink;
}
header {
	text-align: center;
	background-color: aqua;

}
header>h1{
	text-transform: uppercase;
	font-size: 3em;
}
header>p{
	text-align: right;
	text-transform: lowercase;
	color: orangered;
}
nav {
	background-color: coral;
	text-transform: uppercase;
	position: relative;
	/* margin: 0.5em 0; */
	margin-top: 0.5em;
	margin-bottom: 1.4em;
	/* padding: 0.5em 0.5em; */
}
nav>ul>li{
	margin: 0.5em 0;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
	position: relative;
	background-color: white;
}
nav>ul>li:hover{
	/* text-transform: lowercase; */
	background-color: gray;
}

.contenedor{
	background-color: #336699;
	width: 90%;
	height: 250px;
	border-radius: 1em;
	padding: 0.5em;
	position: relative;
}
.contenedor h2{
	color:white;
	text-align: right;
}
.imagen{
	width: 300px;
	height: 250px;
	position: relative;
}
.contenedor p {
	position: relative;
	text-transform: uppercase;
	font-size: 1em;
}
