*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: auto;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,100px);
    gap: 1em;
}
header{
    grid-column: 1 / 3;
    background-color: antiquewhite;
}
.descripcion{
    grid-column: 1 /3;
    background-color: aqua;
}
.imagen{
    grid-column: 1;
}.articulo{
    grid-column: 2 / 3;
}
.articulo1{
    grid-column: 1/2;
    background-color: gray;
}
.imagen1{
    grid-column: 3;
}
