*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E3E2;
    color :#fff;
}
main{
    width: 1200px;
    height: 700px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

main header{
    width: 1200px;
    height: 100px;
    background-color: #c49bd3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.contenedor input[type="radio"]{
    display: none;
}

.contenedor img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease-in;
}
.contenedor input[type="radio"]:chequed ~ img{
    transform: scale(1);
    opacity: 1;
}
.contenedor input[type="radio"] + label{
    position: relative;
    z-index: 100;
    margin: 10px;
    display :block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 2px #7b7b7b;
}
.contenedor input[type="radio"]:checked + label {
    background-color: #c49bd3;
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px 3px rgba(197,156,211,0.75);
}
.contenedor input[type="radio"] + label:hover{
    cursor: pointer;
    background-color: #c49bd3;
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px 3px rgba(156, 69, 186, 0.75);
}